<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <!-- Favicon Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicons/favicon.ico' %}">
    <!-- Favicon Icon -->
    <link rel="stylesheet" href="{% static 'css/plugins/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/odometer-theme-default.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header class="cs_site_header cs_style_1 cs_sticky_header cs_color_2">
    <div class="cs_main_header">
        <div class="container">
            <div class="cs_main_header_in">
                <div class="cs_main_header_left">
                    <a class="cs_hero_title cs_font_28 cs_black wow fadeInLeft" data-wow-duration="0.8s"
                       data-wow-delay="0.2s" href="/"><span class="cs_gradient_text">purvsonani.dev</span>
                    </a>
                </div>
                <div class="cs_main_header_center">
                    <div class="cs_nav">
                        <ul class="cs_nav_list">
                            <li class="menu-item-has-children"><a href="/home">Home</a></li>
                            <li class="menu-item-has-children"><a href="/about">About</a></li>
                            <li class="menu-item-has-children"><a href="{% url 'home' %}#experience">Experience</a></li>
                            <li class="menu-item-has-children"><a href="{% url 'home' %}#projects">Projects</a></li>
                            <li class="active menu-item-has-children"><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="cs_hero cs_style_3 cs_filled_bg cs_center text-center"
         data-src="{% static 'img/bg/hero_bg_4.svg' %}">
    <div class="container">
        <h1 class="cs_hero_title cs_font_92 cs_black wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
            <span class="cs_gradient_text">Contact </span><span
                class="cs_gradient_border_text">Me</span></h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Contact</li>
        </ol>
    </div>
</section>
<section>
    <div class="cs_height_50 cs_height_lg_80"></div>

    <div class="container"> {% if messages %}
        <div class="cs_success_message">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <div class="cs_contact_form_wrapper">
            <form method="POST" class="cs_contact_form">
                {% csrf_token %}
                <div class="cs_form_field">
                    <label for="id_name">Name</label>
                    {{ form.name }}
                </div>

                <div class="cs_form_field">
                    <label for="id_email">Email</label>
                    {{ form.email }}
                </div>

                <div class="cs_form_field">
                    <label for="id_message">Message</label>
                    {{ form.message }}
                </div>

                <button type="submit" class="cs_contact_button">Send Message</button>
            </form>

            <div class="cs_social_btns d-flex">
                <a class="cs_accent_color_2" href="{{ contactInfo.github_url }}" target="_blank"
                   rel="noopener noreferrer">
                    <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.3002 23V18.6C15.4532 17.222 15.0581 15.8391 14.2002 14.75C17.5002 14.75 20.8002 12.55 20.8002 8.7C20.8882 7.325 20.5032 5.972 19.7002 4.85C20.0082 3.585 20.0082 2.265 19.7002 1C19.7002 1 18.6002 1 16.4002 2.65C13.4962 2.1 10.5042 2.1 7.60016 2.65C5.40016 1 4.30016 1 4.30016 1C3.97016 2.265 3.97016 3.585 4.30016 4.85C3.49922 5.96747 3.11048 7.32807 3.20016 8.7C3.20016 12.55 6.50016 14.75 9.80016 14.75C9.37116 15.289 9.05216 15.905 8.86516 16.565C8.67816 17.225 8.62316 17.918 8.70016 18.6V23"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8.7 18.5999C3.739 20.7999 3.2 16.3999 1 16.3999" stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
                <a class="cs_accent_color_2" href="{{ contactInfo.linkedin_url }}" target="_blank"
                   rel="noopener noreferrer">
                    <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.7367 7.3158C17.4117 7.3158 19.0182 7.98121 20.2026 9.16565C21.3871 10.3501 22.0525 11.9565 22.0525 13.6316V21H17.842V13.6316C17.842 13.0732 17.6201 12.5378 17.2253 12.1429C16.8305 11.7481 16.295 11.5263 15.7367 11.5263C15.1783 11.5263 14.6429 11.7481 14.248 12.1429C13.8532 12.5378 13.6314 13.0732 13.6314 13.6316V21H9.4209V13.6316C9.4209 11.9565 10.0863 10.3501 11.2708 9.16565C12.4552 7.98121 14.0616 7.3158 15.7367 7.3158Z"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.21053 8.36841H1V21H5.21053V8.36841Z" stroke="currentColor" stroke-width="2"
                              stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3.10526 5.21053C4.26797 5.21053 5.21053 4.26797 5.21053 3.10526C5.21053 1.94256 4.26797 1 3.10526 1C1.94256 1 1 1.94256 1 3.10526C1 4.26797 1.94256 5.21053 3.10526 5.21053Z"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
                <a class="cs_accent_color_2" href="https://mail.google.com/mail/?view=cm&to={{ contactInfo.email }} "
                   target="_blank" rel="noopener noreferrer">
                    <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 1H19C20.1 1 21 1.9 21 3V15C21 16.1 20.1 17 19 17H3C1.9 17 1 16.1 1 15V3C1 1.9 1.9 1 3 1Z"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21 3L11 10L1 3" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="cs_height_50 cs_height_lg_80"></div>
</section>

<footer class="cs_footer cs_style_1">
    <div class="position-absolute cs_footer_shape_1">
        <img src="{% static 'img/footer_shape' %}" alt="">
    </div>
    <div class="container">
        <div class="cs_footer_cta">
            <h2 class="cs_font_80 cs_gradient_text_2 cs_semi_bold">Thanks for Reaching Out!</h2>
            <a href="/home" class="cs_btn cs_style_1 cs_primary_font"><span>Portfolio</span></a>
        </div>
        <div class="cs_copyright">© {% now "Y" %} Purv Sonani. Vibing with ☕, not stress.</div>
    </div>
</footer>

<script src="{% static 'js/plugins/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/plugins/gsap.min.js' %}"></script>
<script src="{% static 'js/plugins/isotope.pkg.min.js' %}"></script>
<script src="{% static 'js/plugins/odometer.min.js' %}"></script>
<script src="{% static 'js/plugins/wow.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>