<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Laralink">
    <!-- Favicon Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicons/favicon.ico' %}">
    <!-- Site Title -->
    <title>Purv Sonani Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/plugins/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/odometer-theme-default.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
<div class="cs_preloader cs_center">
    <div class="cs_preloader_in"></div>
</div>

<!-- Start Header Section -->
<header class="cs_site_header cs_style_1 cs_sticky_header cs_color_2">
    <div class="cs_main_header">
        <div class="container">
            <div class="cs_main_header_in">
                <div class="cs_main_header_left">
                    <a class="cs_hero_title cs_font_28 cs_black wow fadeInLeft" data-wow-duration="0.8s"
                       data-wow-delay="0.2s" href="/"><span class="cs_gradient_text">purvsonani</span>
                    </a>
                </div>
                <div class="cs_main_header_center">
                    <div class="cs_nav">
                        <ul class="cs_nav_list">
                            <li class="active menu-item-has-children"><a href="/home">Home</a></li>
                            <li class="menu-item-has-children"><a href="/about">About</a></li>
                            <li class="menu-item-has-children"><a href="#experience">Experience</a></li>
                            <li class="menu-item-has-children"><a href="#projects">Projects</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="cs_main_header_right">
                    <a href="/contact" class="cs_btn cs_style_1 cs_primary_font"><span>Hire Me</span></a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header Section -->

<!-- Main content inside start-->
<main>
    <!-- Start Hero Section -->
    <section class="cs_hero cs_style_2 cs_filled_bg" data-src="{% static 'img/bg/hero_bg_2.svg' %}">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="cs_hero_info cs_pr_20">
                        <h4 class="cs_hero_meta cs_font_48 cs_white_blue_text_2 cs_semi_bold cs_primary_font mb-0">Hi!
                            I’m<br>
                        </h4>
                        <h1 class="cs_hero_title cs_font_92 cs_black wow fadeInLeft" data-wow-duration="0.8s"
                            data-wow-delay="0.2s"><span class="cs_gradient_text">{{ profile.name }}</span>
                            <!--                            <span class="cs_gradient_border_text">Sonani</span>-->
                        </h1>
                        <!--              <h4 class="cs_hero_subtitle cs_font_36 cs_semi_bold cs_primary_font cs_white_blue_text_2">Backend-->
                        <!--                <span class="cs_accent_color_2">Python Developer</span>-->
                        <!--              </h4>-->
                        <h4 class="cs_accent_color_2 cs_font_36">{{ profile.role }}
                            <!--                            <span class="cs_hero_subtitle cs_font_36 cs_semi_bold cs_primary_font cs_white_blue_text_2">(Backend)</span>-->
                        </h4>
                        <p class="cs_hero_text">{{ profile.bio }} </p>
                        <div class="cs_btns">
                            <a href="{{ profile.cv }}" class="cs_btn cs_style_1" download><span>Download CV</span></a>
                            <a class="cs_font_24 cs_accent_color_2 cs_accent_color_2_hover cs_text_btn cs_type_2 cs_semi_bold"
                               href="/contact">Let’s Talk</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cs_hero_image_box cs_filled_bg"
                         data-src="{% static 'img/bg/hero_bg_3.svg' %}">
                        {% if profile.profile_image %}
                        <div class="cs_imagebox_img w-100"><img src="{{ profile.profile_image.url }}"
                                                                alt="P"></div>
                        {% else %}
                        <div class="cs_imagebox_img w-100"><img src="{% static 'img/hero_img.png' %}"
                                                                alt="P"></div>
                        {% endif %}
                        <div class="cs_imagebox_img w-100"><img src="{{ profile.profile_image.url }}"
                                                                alt="P"></div>
                        <div
                                class="cs_happy_client position-absolute cs_white_bg d-flex align-items-center cs_radius_20 cs_gap_15">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Start Hero Section -->


    <!-- Start Portfolio Section -->
    <section class="cs_filled_bg cs_100_bg" data-src="{% static 'img/bg/protfolio_bg2.png' %}">
        <div class="cs_height_80 cs_height_lg_80"></div>
        <div class="container">
            <div class="cs_section_heading cs_style_1 text-center">
                <h2 class="cs_section_title cs_font_48 cs_semi_bold">My
                    <span class="cs_accent_color">Tech Stack</span>
                </h2>
            </div>
            <div class="cs_height_40 cs_height_lg_45"></div>
            <div class="cs_tech_stack_container">

                {% for tech in techStacks %}
                <div class="cs_tech_pill {% if tech.highlighted %}highlighted{% endif %}">
                    {{ tech.name }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="experience" class="cs_height_80 cs_height_lg_80"></div>
        <div class="container">
            <div class="cs_section_heading cs_style_1 text-center">
                <h2 class="cs_section_title cs_font_48 cs_semi_bold">My
                    <span class="cs_accent_color">Experiences</span>
                </h2>
            </div>
            <div class="cs_height_40 cs_height_lg_45"></div>

            {% for experience in experiences %}
            <div class="cs_experience_card {% if not forloop.last %}mb-4{% endif %}">
                <div class="cs_experience_header">
                    <div class="cs_experience_left">
                        <h3 class="cs_experience_title">
                            <span class="cs_title_dot"></span>{{ experience.role }}
                        </h3>
                        <p class="cs_experience_company">{{ experience.company }}</p>
                    </div>
                    <div class="cs_experience_right">
                        <div class="cs_experience_date">{{ experience.duration }}</div>
                    </div>
                </div>
                <div class="cs_experience_description">
                    <p>
                        {{ experience.description }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="projects" class="cs_height_80 cs_height_lg_80"></div>
        <div class="container">
            <div class="cs_isotop cs_isotop_col_2 cs_has_gutter_80">
                <div class="cs_grid_sizer"></div>

                <div class="cs_isotop_item">
                    <div class="cs_portfolio cs_style_2">
                        <div class="cs_section_heading cs_style_1">
                            <h2 class="cs_section_title cs_font_48 cs_semi_bold">My latest
                                <br>awesome <span class="cs_accent_color">Projects</span>
                            </h2>
                        </div>
                    </div>
                </div>

                {% for project in projects %}
                <div class="cs_isotop_item">
                    <div class="cs_project_card">
                        <div class="cs_project_card__content">
                            <h3 class="cs_project_card__title">{{ project.name }}</h3>
                            <p class="cs_project_card__description">
                                {{ project.description }}
                            </p>
                            <div class="cs_project_card__stack">
                                {% for tech in project.tech_stacks.all %}
                                <span>{{ tech.name }}</span>
                                {% endfor %}
                            </div>
                            <div class="cs_btn_wrapper">
                                <a href="{{ project.github_link }}" target="_blank" class="cs_project_card__button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round">
                                        <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.5c0-1 .1-1.4-.5-2 2.8-.3 5.5-1.4 5.5-6.1 0-1.3-.5-2.4-1.3-3.2.1-.3.5-1.5-.1-3.2 0 0-1.1-.3-3.5 1.3-1-.3-2.1-.4-3.2-.4s-2.2.1-3.2.4C2.9 4.2 1.8 4.5 1.8 4.5c-.6 1.7-.2 2.9-.1 3.2-.8.8-1.3 1.9-1.3 3.2 0 4.7 2.7 5.8 5.5 6.1-.6.5-.9 1.4-.9 2.8v4.2"></path>
                                    </svg>
                                    GitHub
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="cs_isotop_item">
                </div>

            </div>
        </div>
        <div class="cs_height_80 cs_height_lg_80"></div>
    </section>
    <!-- End Portfolio Section -->

</main>
<!-- Main content inside end-->

<!-- Start Footer -->
<footer class="cs_footer cs_style_1">
    <!--    <div class="position-absolute cs_footer_shape_1">-->
    <!--        <img src="{% static 'img/footer_shape.svg' %}" alt="">-->
    <!--    </div>-->
    <div class="container">
        <div class="cs_footer_cta">
            <h2 class="cs_font_70 cs_gradient_text_2 cs_semi_bold">Have a project?</h2>
            <a href="/contact" class="cs_btn cs_style_1 cs_primary_font"><span>Let’s
            Talk</span></a>
        </div>
        <div class="cs_copyright">© {% now "Y" %} Purv Sonani. Vibing with ☕, not stress.</div>
    </div>
</footer>
<!-- End Footer -->

<!-- Scroll to Top Button -->
<button id="scrollTopBtn" class="scroll-to-top-btn" title="Go to top">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
         stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M12 19V5M5 12l7-7 7 7"/>
    </svg>
</button>

<!-- Script -->
<script src="{% static 'js/plugins/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/plugins/gsap.min.js' %}"></script>
<script src="{% static 'js/plugins/isotope.pkg.min.js' %}"></script>
<script src="{% static 'js/plugins/odometer.min.js' %}"></script>
<script src="{% static 'js/plugins/wow.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>